---
import Layout from '../layouts/Layout.astro';
import Formulario from '../components/Formulario.jsx';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class='flex flex-wrap mx-4 justify-center'>
			<Formulario client:load/>
		</div>
			
	</main>
</Layout>
