---
import LoginButton from '@/components/loginButton';
import RegisterButton from '@/components/registerButton';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<section>
			<div class="flex gap-5  m-5">
				<a href="/registro" class="text-white "> Registrarse</a>
				<a href="/login" class="text-white">iniciar sesion</a>
			</div>
		</section>
		<slot />
	</body>
</html>
<style is:global>
	
	html  {
		font-family: system-ui, sans-serif;
		background: #121929;
		background-size: 224px;
		color-scheme: dark ligth;
	}
	
</style>
